<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{admin/layouts/adminLayout}">
<!--    #1. layout 렌더링    -->
<head lang="ko">
<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="content">
		<!-- 각자파트 -->
		<div class="row mb-4">

			<!-- 상단 -->
			<div
				class="topbar d-flex justify-content-between align-items-center">
				<h3>모집관리</h3>

				<div>관리자님</div>
			</div>

			<!-- 통계 -->
			<div class="row mb-4">

				<div class="col-md-3">
					<div class="card-box">
						<h6>전체 모집글</h6>
						<div class="stat-number">25</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card-box">
						<h6>모집중</h6>
						<div class="stat-number">8</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card-box">
						<h6>진행예정</h6>
						<div class="stat-number">10</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card-box">
						<h6>모집종료</h6>
						<div class="stat-number">7</div>
					</div>
				</div>

			</div>

			<!-- 탭 -->
			<div class="mb-4">
				<button class="tab-btn active">모집목록</button>
				<!--                 <button class="tab-btn">행사등록</button>
               <button class="tab-btn">신청자목록</button> -->
			</div>

			
			<!-- 검색 -->
			<form id="searchForm" >
				<div class="table-box mb-4">

					<div class="row">

						<div class="col-md-4">
							<input type="text" name="searchText" class="form-control" placeholder="모집명 검색">
						</div>

						<div class="col-md-2">
							<select id="status" name="status" class="form-select">
								<option value="">상태</option>
								<option value="RECRUITING">모집중</option>
								<option value="CLOSED">모집마감</option>
								<option value="CANCELED">취소</option>
							</select>
						</div>
						<div class="col-md-2">
							<select id="searchType" name="searchType" class="form-select">
								<option value="name">작성자이름</option>
								<option value="title">모집명</option>
							</select>
						</div>

						<div class="col-md-2">
							<button type="submit" class="btn btn-primary">검색</button>
						</div>

					</div>

				</div>
			</form>

			<!-- 행사목록 -->
			<div class="table-box">

				<table class="table table-hover">
				    <colgroup>
				        <col style="width:5%">
				        <col style="width:10%">
				        <col style="width:30%">
				        <col style="width:15%">
				        <col style="width:10%">
				        <col style="width:10%">
				        <col style="width:10%">
				        <col style="width:10%">
				    </colgroup>
					<thead class="table-light">
						<tr>
							<th>번호</th>
							<th>모집자</th>
							<th>모집명</th>
							<th>모집일</th>
							<th>최소모집인원</th>
							<th>최대모집인원</th>
							<th>신청현황</th>
							<th>관리</th>
						</tr>
					</thead>
					
					<tbody id="searchList">
						
						<!-- <c:forEach var="searchList" items="${searchList}" varStatus="status">
							<tr>
								<td>${paging.listtotal - paging.pstartno - status.index}</td>
								<td>${serchList.nickname}</td> 모집자명으로 수정!
								<td>${serchList.title}</td>
								<td>${serchList.meetupAt}</td>
								<td>${serchList.minParticipants }</td>
								<td>${serchList.maxParticipants  }</td>
								<td>${serchList.totalParticipants }</td>									
								<td>
									<form action="${pageContext.request.contextPath}/meetup/admin/delete.do?meetupId=${serchList.meetupId}" method="post">
										<input  type="hidden" name="${_csrf.parameterName}"  value="${_csrf.token}" /> 보안
										<button class="btn btn-danger btn-sm">삭제</button>
									</form>
								</td>
							</tr>


						</c:forEach> -->

					</tbody>

				</table>
				
				<ul class="pagination justify-content-center" id="pagingArea">
					<!-- 이전 -->
					<!-- <c:if test="${paging.start > paging.bottomlist}">
						<li class="page-item"><a class="page-link" href="?pstartno= ${paging.start-1}"> < </a>
						</li>
					</c:if>

					1,2,3,4,5,6
					<c:forEach var="i" begin="${paging.start}" end="${paging.end}">
						<li class="page-item <c:if test="${i==paging.current}"> active </c:if>">
							<a href="?pstartno=${i}" class="page-link">${i}</a>
						</li>
					</c:forEach>

					다음
					<c:if test="${paging.pagetotal > paging.end}">
						<li class="page-item"><a class="page-link" href="?pstartno= ${paging.end+1}"> > </a>
						</li>
					</c:if> -->
				</ul>					

			</div>
		
		</div>
		<!-- 각자파트 -->	
	</div>
<script>
 	// 페이지가열리면 처음조회
	window.addEventListener("load",function(){
		loadMeetup(1);
		
		document.getElemntById("searchForm").addEventListener("submit", function(e){
		 e.preventfault(); // form submit
		 loadMeetup(1); // 검색하면 1페이지부터 조회
		});
	});
 	


</script>
</body>
</html>