<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moit.member.dao.UserMapper">
  
  <!-- 로그인 -->	
  <select id="readByLoginId" parameterType="string" resultType="AuthUserDto">
     SELECT m.login_id, m.password, mt.type_name, m.nickname,m.profile_url
        FROM members m
        JOIN member_type mt ON m.member_type_id = mt.member_type_id
        WHERE m.login_id = #{loginId} AND m.delete_yn = 'N'
  </select>
  
  <!-- 마이페이지 -->
  <select id="findByLoginId" resultType="UserDto" parameterType="UserDto">
		SELECT
	    m.member_id, m.login_id, m.mobile, m.nickname, m.email, m.password, m.profile_url, m.member_type_id, m.status_id,	
	    mi.gender, mi.birth, mi.point, mi.trust_score, mi.login_ip, mi.join_ip, mi.ai_summary
	
		FROM members m
		JOIN member_info mi
		ON m.member_id = mi.member_id
		
		WHERE m.login_id = #{loginId}
		AND m.delete_yn='N'
  </select>
  
  <!-- 회원가입 -->
  <insert id="insert" parameterType="UserDto" keyProperty="memberId" >
        INSERT INTO members (
            member_id,login_id, mobile, nickname, email, password, member_type_id, status_id, profile_url
        ) VALUES (
            members_seq.nextval,#{loginId}, #{mobile}, #{nickname}, #{email}, #{password}, #{memberTypeId}, #{statusId}, #{profileUrl}
        )
  </insert>
  
  <!-- 방금 insert된 회원 번호에 info 추가 -->
  <insert id="insertInfo" parameterType="UserJoinDto">
  	insert into member_info(member_id,gender,birth) 
  	values(members_seq.currval,#{gender},#{birth})
  </insert>
  
  <!-- 중복검사 -->
  <select id="findUser" parameterType="map" resultType="UserDto">
        SELECT * FROM members
        <where>
            <choose>
                <when test="loginId != null and loginId != ''">
                    AND login_id = #{loginId}
                </when>
                <when test="nickname != null and nickname != ''">
                    AND nickname = #{nickname}
                </when>
                <otherwise>
                    AND 1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
    
    <!-- 회원정보 수정 -->
    <update id="updateUser" parameterType="UserDto">
        UPDATE members
        <set>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="memberTypeId > 0">member_type_id = #{memberTypeId},</if>
            <if test="statusId > 0">status_id = #{statusId},</if>
            <if test="deleteYn != null and deleteYn != ''">delete_yn = #{deleteYn},</if>
            <if test="profileUrl != null and profileUrl != ''">profile_url = #{profileUrl},</if>
        </set>
        WHERE login_id = #{loginId}
    </update>
    
    <!-- 회원 목록 -->
    <select id="select10" parameterType="java.util.HashMap" resultType="UserDto">
        SELECT * FROM members
        <where>
            AND delete_yn = 'N'
            
            <if test="memberTypeId > 0">
                AND member_type_id = #{memberTypeId}
            </if>
            <if test="statusId > 0">
                AND status_id = #{statusId}
            </if>
            
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                    login_id LIKE '%' || #{searchKeyword} || '%' OR 
                    nickname LIKE '%' || #{searchKeyword} || '%' OR
                    email LIKE '%' || #{searchKeyword} || '%'
                )
            </if>
        </where>
        ORDER BY member_id DESC
        OFFSET #{start} ROWS
		FETCH NEXT #{end} ROWS ONLY
    </select>
    
    <!-- 페이징 -->
    <select id="selectCnt" parameterType="java.util.HashMap" resultType="int">
        SELECT COUNT(*) FROM members
        <where>
            AND delete_yn = 'N'
            <if test="memberTypeId > 0">
                AND member_type_id = #{memberTypeId}
            </if>
            <if test="statusId > 0">
                AND status_id = #{statusId}
            </if>
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                    login_id LIKE '%' || #{searchKeyword} || '%' OR 
                    nickname LIKE '%' || #{searchKeyword} || '%' OR
                    email LIKE '%' || #{searchKeyword} || '%'
                )
            </if>
        </where>
    </select>
    
    <!-- 회원 논리삭제 -->
    <update id="deleteYn" parameterType="String">
    	UPDATE members SET delete_yn='Y' WHERE login_id=#{loginId}
    </update>
    
    <!-- 회원 물리삭제 -->
    <delete id="deleteUser" parameterType="string">
        DELETE FROM members WHERE login_id = #{loginId}
    </delete>
    
</mapper>
