<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{user/mypage/layouts/mypageLayout}">
<!--    #1. layout 렌더링    -->
<head lang="ko">
<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="content">
		<!-- MAIN -->
		<div class="mypage-main-content">

			<div class="mypage-dashboard">

				<div class="mypage-stat-card">
					📝
					<h3>12</h3>
					<p >내 모집글</p>
				</div>

				<div class="mypage-stat-card">
					👥
					<h3>8</h3>
					<p>신청 모임</p>
				</div>

				<div class="mypage-stat-card">
					⭐
					<h3>16</h3>
					<p>작성 후기</p>
				</div>

				<div class="mypage-stat-card">
					❤️
					<h3>6</h3>
					<p>관심 모임</p>
				</div>
			</div>

			<div class="mypage-user-info">

				<h2>사용자 정보</h2>

				<div class="mypage-info-grid">

					<div class="mypage-info-box">
						<div class="mypage-info-title">닉네임</div>
						<div th:text="${dto.nickname}"></div>
					</div>

					<div class="mypage-info-box">
						<div class="mypage-info-title">이메일</div>
						<div th:text="${dto.email}"></div>
					</div>

					<div class="mypage-info-box">
						<div class="mypage-info-title">가입일</div>
						<div>2026-01-10</div>
					</div>

					<div class="mypage-info-box">
						<div class="mypage-info-title">관심 카테고리</div>
						<div>러닝, 독서, 개발</div>
					</div>

				</div>

			</div>

		</div>

	</div>
</body>
</html>