<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/mypage/layouts/mypageLayout}">

<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mypage-main-content">
        <div class="mypage-user-info">
            <h2 class="member-edit-title">
                비밀번호 변경
            </h2>

            <!-- 오류 메시지 -->
            <div th:if="${msg != null}"
                 class="alert alert-danger"
                 th:text="${msg}">
            </div>

            <form class="member-edit-form password-change-form"
                  th:action="@{/user/member/passwordChange}"
                  method="post">
                <!-- CSRF -->
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}">

                <div class="mypage-info-grid">
                    <!-- 현재 비밀번호 -->
                    <div class="form-group">
                        <div class="mypage-info-title">
                            현재 비밀번호
                        </div>

                        <input type="password"
                               name="currentPassword"
                               placeholder="현재 비밀번호 입력"
                               required>
                    </div>

                    <!-- 새 비밀번호 -->
                    <div class="form-group">
                        <div class="mypage-info-title">
                            새 비밀번호
                        </div>

                        <input type="password"
                               id="newPassword"
                               name="newPassword"
                               placeholder="새 비밀번호 입력"
                               required>
                    </div>

                    <!-- 새 비밀번호 확인 -->
                    <div class="form-group">

                        <div class="mypage-info-title">
                            새 비밀번호 확인
                        </div>

                        <input type="password"
                               id="passwordCheck"
                               name="passwordCheck"
                               placeholder="새 비밀번호 확인"
                               required>

                        <div id="passwordMsg"
                             class="target">
                        </div>
                    </div>
                </div>

                <div class="mypage-btn-group">
                    <a th:href="@{/user/member/mypage}"
                       class="btn btn-secondary">
                        취소
                    </a>

                    <button type="submit"
                            class="btn btn-primary">
                        변경하기
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
	const newPassword = document.getElementById("newPassword");	
	const passwordCheck = document.getElementById("passwordCheck");	
	const passwordMsg = document.getElementById("passwordMsg");
	
	
	passwordCheck.addEventListener("keyup",()=>{		
	    if(newPassword.value === passwordCheck.value){
	
	        passwordMsg.textContent = "비밀번호가 일치합니다.";	
	        passwordMsg.className = "target text-success";
		
	    }else{	
	        passwordMsg.textContent = "비밀번호가 일치하지 않습니다.";	
	        passwordMsg.className = "target text-danger";	
	    }	
	});

</script>


</body>
</html>