<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="meetupSidebar">
		<aside class="sidebar">

			<h3>카테고리</h3>

			<div class="category meetupList-category" id="meetupList-category">
			</div>

			<div class="sidebar-ad meetupList-sidebar-ad">
				<div class="ad-tag">ADVERTISEMENT</div>
				<h3>
					신규 회원<br> 특별 혜택
				</h3>
				<p>
					가입만 해도<br> 할인 쿠폰 지급
				</p>
				<a href="#"> 지금 확인하기 </a>
			</div>
		</aside>
 	<script>
	function makeCategory(categorys){
		const category = document.getElementById("meetupList-category");

		let html = '<a href="#" class="active" categoryId="0">전체</a>';
		categorys.forEach(data=>{
			html +=`
				<a href="#" categoryId="${categoryId}">${data.categoryName}</a>
			`;
		}) 
		
		document.getElementById("meetupList-category").innerHTML=html;
	}
	
	</script>
	</th:block>
</body>
</html>

